/* Reset & body setup */
body {
  background-color: #0a0a0f;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

/* Container */
.header {
  display: flex;
  width: 900px;
  height: 400px;
  background-color: #111;
  border-radius: 12px;
  overflow: hidden;
  padding: 0;
}

/* Left title */
.frst {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 40px;
  font-size: 35px;
  color: white;
  max-width: 350px;
}

.frst b {
  color: #b16cff;
}

/* Left paragraph */
.sec {
  position: absolute;
  margin-top: 280px;
  margin-left: 40px;
  color: #bfbfbf;
  max-width: 260px;
  font-size: 16px;
}

/* Image (right side) */
.img {
  flex: 1;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* Purple effect */
  filter: grayscale(20%) brightness(60%) sepia(80%) hue-rotate(250deg)
    saturate(300%);
}
